@model UsuarioViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using Microsoft.AspNetCore.Http
   @inject IHttpContextAccessor HttpContextAccessor
    ViewBag.title = "Echony: Buscador";
    string NickName = this.HttpContextAccessor.HttpContext.Session.GetString("nick");

}

<div class="full-container-busqueda">
    <div class="busqueda_header">
        <h3>Personas</h3>
    </div>


    

    <div class="busqueda-container">
        
        @if (Model.lista.Count == 0)
    {

            <h3>No pudimos encontrar al usuario</h3>
    }
    else
    {



        @foreach (var user in Model.lista)
    {
        if (user.Id == Model.UsuarioSesion.Id)
        {
            <div class="perfil">
                <div>  <img src="~/images/Fotos_Usuarios/@user.Avatar" /></div>
                <div class="info">
                    <div><a href="@Url.Action("Usuario", "Perfil", new Usuario {NickName = user.NickName, Id = user.Id})"><span>@user.Nombre </span> <span>@user.Apellido</span></a></div>

                </div>

            </div>

    }
    else
    {
        <div class="perfil">
            <div>  <img src="~/images/Fotos_Usuarios/@user.Avatar" /></div>
            <div class="info">
                <div><a href="@Url.Action("Usuario", "Perfil", new Usuario {NickName = user.NickName, Id = user.Id})"><span>@user.Nombre </span> <span>@user.Apellido</span></a></div>
            
            </div>

        </div>
}

}
}
    </div>
       
</div>

