@model UsuarioViewModel
@{
/**/

    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Echony: Perfil";
   
    if (this.HttpContextAccessor.HttpContext.Session.GetString("email") == null)
    {

        this.HttpContextAccessor.HttpContext.Response.Redirect(Url.Action("Index", "Login"));
    }
}

 
<main id="cuerpo-perfil" class="perfil_wrapper">
    
        <dialog id="modal_foto" class="modal_foto">
            <div class="titulo_modal">
                <div>
                    <h3>Actualización de Foto</h3>
                </div>
                <div>
                    <span id="cerrar_modal">X</span>
                </div>
            </div>
            <div class="cuerpo_modal">
                <span style="text-align:center;">Foto Actual</span>
                <img class="foto_modal" src="~/images/Fotos_Usuarios/@Model.UsuarioSesion.Foto.RutaFoto" alt="Alternate Text" />
                <form id="form-fotos" action="/Perfil/AddFotoPublicacion" method="post" enctype="multipart/form-data">
                    <!--enctype="multipart/form-data"-->
                    <input type="hidden" name="nick" value="@Model.UsuarioSesion.NickName" />
                    <input type="hidden" name="foto_id" value="@Model.UsuarioSesion.Id" />
                    <div class="botones-modal">
                        <input class="subir-foto" required id="subir-foto" type="file" name="foto" value="Subir Foto" accept="image/*" />
                        <!--<span asp-validation-for="UsuarioSesion.Foto.Img"></span>-->
                        <input type="submit" name="subir" value="Actualizar Foto" />
                    </div>
                    <div class="modal_footer">
                  
                    </div>

                </form>
            </div>

        </dialog>
        <main id="cuerpo-perfil" class="perfil_wrapper">

            <input id="idPerfil" type="hidden" name="name" value="@Model.UsuarioSesion.Id" />
            <input id="Nick" type="hidden" name="name" value="@this.HttpContextAccessor.HttpContext.Request.Query["NickName"]" />

            <section class="ventana_perfil_izquierda">
                <div class="ventana_izquierda_wrapper">
                    <div class="foto-perfil-wrapper">


                        <img class="btnFoto" id="btnFoto" src="~/images/fotos/photo-camera.png" />
                        <img class="foto-perfil" src="~/images/Fotos_Usuarios/@Model.UsuarioSesion.Foto.RutaFoto" alt="@Model.UsuarioSesion.NickName" />
                        <div class="arriba">

                        </div>
                        <div class="abajo">
                            <div class="nombre-usuario-perfil"><span>@Model.UsuarioSesion.Nombre </span><span>@Model.UsuarioSesion.Apellido</span></div>




                        </div>
                    </div>
                    <div class="usuario-perfil-info">
                        <p>Menu de Navegación</p>
                    </div>
                    <div class="menu">
                        <ul>
                        
                            <li>
                                <a href="@Url.Action("Notificaciones", "Perfil")"> 
                                <img src="~/images/fotos/IconosEchony/Notification_48px.png" /> Notificaciones 
                                </a>
                            </li>
                         
                            <li>

                                <a href="@Url.Action("Amigos", "Perfil")">
                                    <img src="~/images/fotos/IconosEchony/Add User Male_48px.png" />  Amigos
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </section>

            <section id="principal" class="ventana_perfil_central">

                <article class="estado">
                    <div class="menu_estado">
                        <div class="menu_estado_wrapper">
                            <p>...</p>
                        </div>
                    </div>
                    <div class="post__wrapper">

                        <div style="width:95%; margin:0 auto;">
                            <form id="AgregarPublicacion" asp-action="AgregarPublicacion" method="post" enctype="multipart/form-data">
                                
                                <input type="hidden" asp-for="Publicacion.UsuarioId" value="@Model.UsuarioSesion.Id" />
         
                                <textarea asp-for="Publicacion.Contenido" id="text-estado" class="text-estado" placeholder="Escribe algo, @Model.UsuarioSesion.Nombre"></textarea>
                                <span asp-validation-for="Publicacion.Contenido"></span>
                                <!--id="contenido-post"-->
                                <div class="estado-botonera">
                                    <div class="botones-publicar">
                                        <button type="submit" class="btn" id="publicar-post">Publicar</button>
                                        <input type="file" name="foto" id="foto-post" value="Subir Foto..." />

                                    </div>


                                    <img id="load" style="display:none;" class="loader" src="~/images/fotos/ajax-loader.gif" alt="Cargando..." />

                                </div>
                            </form>
                        </div>
                    </div>




                </article>
                <input type="hidden" id="userId" value="@Model.UsuarioSesion.Id" />
                <div id="publicaciones-wrapper">
                    <img  style="text-align:center; width:30px; height:30px;padding:0; margin:0; margin-top:5px;" src="~/images/fotos/ajax-loader.gif" alt="Cargando..." />
                </div>


            </section>
            
           
        </main>

    </main>
