@model EchonyCore.Models.Usuario
@{
/**/
    @using Microsoft.AspNetCore.Http
    @inject IHttpContextAccessor HttpContextAccessor
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Echony: Perfil";
    if (this.HttpContextAccessor.HttpContext.Session.GetString("email") == null)
    {

        this.HttpContextAccessor.HttpContext.Response.Redirect(Url.Action("Index", "Login"));
    }
}
@{
        string perfilNick = this.HttpContextAccessor.HttpContext.Request.Query["NickName"];
    if (perfilNick !=  this.HttpContextAccessor.HttpContext.Session.GetString("nick"))
    {
        <main id="cuerpo-perfil" class="perfil_wrapper">
            <input id="idPerfil" type="hidden" name="name" value="@this.HttpContextAccessor.HttpContext.Session.GetInt32("id")" />
            <input id="Nick" type="hidden" name="name" value="@this.HttpContextAccessor.HttpContext.Request.Query["NickName"]" />
            <section class="ventana_perfil_izquierda">
                <div class="foto-perfil-wrapper">
                    <img class="foto-perfil" src="~/images/Fotos_Usuarios/@Model.Foto.RutaFoto" alt="@this.HttpContextAccessor.HttpContext.Session.GetString("nick")" />
                    <div class="arriba">
                       
                    </div>
                    <div class="abajo">

                        <div class="nombre-usuario-perfil"><span>@Model.Nombre </span><span>@Model.Apellido</span></div>


                    </div>
                </div>
                <div class="usuario-perfil-info">
                    <p>Menu de Navegación</p>
                </div>
                <div class="menu">
                    <ul>
                        <li>
                            
                            <img src="~/images/fotos/IconosEchony/News_48px.png" /> Noticias
                        </li>
                        <li>
                            
                            <img src="~/images/fotos/IconosEchony/Notification_48px.png" />  Notificaciones <span>10</span>
                        </li>
                        <li>


                            <img src="~/images/fotos/IconosEchony/Chat_48px.png" />  Chat
                        </li>
                        <li>


                            <img src="~/images/fotos/IconosEchony/User Group_48px.png" />  Amigos
                        </li>
                        <li>Seguidores</li>
                    </ul>
                </div>
            </section>

            <section id="principal" class="ventana_perfil_central">



                <div id="post_container" class="post_container">
                    @{
        if (Model.Publicaciones.Count == 0)
        {
                <div class="aviso">
                    <p>No ha hecho su primera publicación</p>
                </div>

}
else
{

                @foreach (var publi in Model.Publicaciones)
{

                <article id="post" class="post">
                    <div class="post-info">
                        <img src="../images/Fotos_Usuarios/@publi.Usuario.Foto.RutaFoto" alt="Foto" />
                        <span>@publi.Usuario.Nombre </span><span>@publi.Usuario.Apellido </span> | <p>@publi.Fecha</p>
                        <div id="btn-post"><a href="#">Me Gusta</a><a href="#">Comentar</a></div>

                    </div>
                    <div class="post-content">
                        @publi.Contenido
                    </div>
                    <div class="botonera-publiacion">
                        <button>Me Gusta</button>
                        <button>Compartir</button>
                        <button id="click-comentar">Comentar</button>
                    </div>
                    <input type="hidden" value="@publi.Id" />
                </article>
                <div class="coment-wrapper">
                    <div id="post-comment" class="post-comment">
                        <img src="../images/Fotos_Usuarios/@publi.Usuario.Foto.RutaFoto" alt="Foto" />
                        <div class="comment-texarea">

                            <div class="contenido-comentario-container"><span>@publi.Usuario.Nombre </span><span>@publi.Usuario.Apellido</span><p>Este es un comentario </p></div>
                        </div>
                    </div>

                </div>
                <form method="post" id="comentario_form" action="AddComentario/Perfil">

                    <input type="hidden" name="idPublicacion" value="@publi.Id" />
                    <input type="hidden" name="idUsuario" value="@this.HttpContextAccessor.HttpContext.Session.GetString("id")" />
                    <div id="post-comment" class="post-comment">
                        <img src="../images/Fotos_Usuarios/@Model.Foto.RutaFoto" alt="Foto" />
                        <div class="comment-texarea">


                            <input name="comentario" type="text" placeholder="comenta" />
                        </div>

                    </div>
                    <input id="btnEnviar-comentario" type="submit" value="Enviar" />
                </form>

}
}
                    }
                    <img id="loadContainer" src="~/images/fotos/ajax-loader.gif" />

                </div>


            </section>
            <section class="ventana_perfil_derecha">
                ventana derecha
            </section>
        </main>
    }
    else
    {
        <dialog id="modal_foto" class="modal_foto">
            <div class="titulo_modal">
                <div>
                    <h3>Actualización de Foto</h3>
                </div>
                <div>
                    <span id="cerrar_modal">X</span>
                </div>
            </div>
            <div class="cuerpo_modal">
                <span style="text-align:center;">Foto Actual</span>
                <img class="foto_modal" src="~/images/Fotos_Usuarios/@Model.Foto.RutaFoto" alt="Alternate Text" />
                <form id="form-fotos" action="AddFotoPublicacion/Perfil" method="post" enctype="multipart/form-data">
                    <!--enctype="multipart/form-data"-->
                    <input type="hidden" name="nick" value="@this.HttpContextAccessor.HttpContext.Session.GetString("nick")" />
                    <input type="hidden" name="foto_id" value="@Model.Id" />
                    <div class="botones-modal">
                        <input class="subir-foto" required id="subir-foto" type="file" name="foto" value="Subir Foto" accept="image/*" />
                        <span asp-validation-for="Foto.Img"></span>
                        <input type="submit" name="subir" value="Actualizar Foto" />
                    </div>
                    <div class="modal_footer">
                        <input type="button" name="cancelar" value="Cancelar" />
                    </div>

                </form>
            </div>

        </dialog>
        <main id="cuerpo-perfil" class="perfil_wrapper">

            <input id="idPerfil" type="hidden" name="name" value="@this.HttpContextAccessor.HttpContext.Session.GetInt32("id")" />
            <input id="Nick" type="hidden" name="name" value="@this.HttpContextAccessor.HttpContext.Request.Query["NickName"]" />
            <section class="ventana_perfil_izquierda">
                <div class="foto-perfil-wrapper">

                   
                    <img class="btnFoto" id="btnFoto" src="~/images/fotos/photo-camera.png" />
                    <img class="foto-perfil" src="~/images/Fotos_Usuarios/@Model.Foto.RutaFoto" alt="@this.HttpContextAccessor.HttpContext.Session.GetString("nick")" />
                    <div class="arriba">

                    </div>
                    <div class="abajo">
                        <div class="nombre-usuario-perfil"><span>@Model.Nombre </span><span>@Model.Apellido</span></div>




                    </div>
                </div>
                <div class="usuario-perfil-info">
                    <p>Menu de Navegación</p>
                </div>
                <div class="menu">
                    <ul>
                        <li>


                            <img src="~/images/fotos/IconosEchony/News_48px.png" /> Noticias
                        </li>
                        <li>


                            <img src="~/images/fotos/IconosEchony/Notification_48px.png" /> Notificaciones <span>10</span>
                        </li>
                        <li>


                            <img src="~/images/fotos/IconosEchony/Chat_48px.png" />  Chat
                        </li>
                        <li>


                            <img src="~/images/fotos/IconosEchony/Add User Male_48px.png" />  Amigos
                        </li>
                        <li>Seguidores</li>
                    </ul>
                </div>
            </section>

            <section id="principal" class="ventana_perfil_central">

                <article class="estado">
                    <div class="menu_estado">
                        <div class="menu_estado_wrapper">
                            <p>...</p>
                        </div>
                    </div>
                    <div class="post__wrapper">

                        <div>
                            <form asp-action="AgregarPublicacion" method="post"  enctype="multipart/form-data">
                                <input type="hidden" name="NickName" value="@Model.NickName" />
                                <input type="hidden" name="UsuarioId" value="@Model.Id" />
                                <textarea name="Contenido" class="text-estado" placeholder="Escribe algo, @Model.Nombre"></textarea>
                                <!--id="contenido-post"-->
                                <div class="estado-botonera">
                                    <div class="botones-publicar">
                                        <button type="submit" class="btn" id="publicar-post">Publicar</button>
                                        <input type="file" name="foto" id="foto-post" value="Subir Foto..." />

                                    </div>


                                    <img id="load" style="display:inline-flex; width:30px; height:30px;padding:0; margin:0; margin-top:5px;" src="~/images/fotos/ajax-loader.gif" alt="Cargando..." />

                                </div>
                            </form>
                        </div>
                    </div>




                </article>

                <div id="post_container" class="post_container">
                    @{
        if (Model.Publicaciones.Count == 0)
        {
                <div class="aviso">
                    <p>No ha hecho su primera publicación</p>
                </div>

}
else
{

                @foreach (var publi in Model.Publicaciones)
{

                <article id="post" class="post">
                    <div class="post-info">
                        <img src="~/images/Fotos_Usuarios/@publi.Usuario.Foto.RutaFoto" alt="Foto" />
                        <span>@publi.Usuario.Nombre </span><span>@publi.Usuario.Apellido </span> | | <p>@publi.Fecha</p>
                        <div id="btn-post"><a href="#">Me Gusta</a><a href="#">Comentar</a></div>

                    </div>
                    <div class="post-content">
                        @publi.Contenido

                        @if(publi.Foto == null)
                        {


                        }
                        else
                        {
                        <div style="width:100%;height:40%;border-top:1px solid #eee; margin-top:1em;">
                            <img style="width:100%; height:100vh; border-radius:0;" src="~/images/Fotos_Usuarios/@publi.Foto" />
                        </div>
                        }
                        
                    </div>
                    <div class="botonera-publiacion">
                        <button>Me Gusta</button>
                        <button>Compartir</button>
                        <button id="click-comentar">Comentar</button>
                    </div>
                    <input type="hidden" value="@publi.Id" />
                </article>
                <div class="coment-wrapper">
                    <div id="post-comment" class="post-comment">
                        <img src="../images/Fotos_Usuarios/@publi.Usuario.Foto.RutaFoto" alt="Foto" />
                        <div class="comment-texarea">

                            <div class="contenido-comentario-container"><span>@publi.Usuario.Nombre </span><span>@publi.Usuario.Apellido</span><p>Este es un comentario </p></div>
                        </div>
                    </div>

                </div>
                <form method="post" id="comentario_form" action="AddComentario/Perfil">

                    <input type="hidden" name="idPublicacion" value="@publi.Id" />
                    <input type="hidden" name="idUsuario" value="@this.HttpContextAccessor.HttpContext.Session.GetString("id")" />
                    <div id="post-comment" class="post-comment">
                        <img src="../images/Fotos_Usuarios/@publi.Usuario.Foto.RutaFoto" alt="Foto" />
                        <div class="comment-texarea">


                            <input name="comentario" type="text" placeholder="comenta" />
                        </div>

                    </div>
                    <input id="btnEnviar-comentario" type="submit" value="Enviar" />
                </form>
             

}
                        }
                    }
                    <!-- <img id="loadContainer" src="~/images/fotos/ajax-loader.gif" alt="Cargando..." />-->
                </div>


            </section>
            <section class="ventana_perfil_derecha">
                ventana derecha
            </section>
        </main>
                        }
}
